$size: 100px;
img.imgtab{
  max-height: $size;
}
.famdragdiv{
  max-width: 110px;
  max-height: 110px;
  p{
    color: Darkgreen;
    font-size: 8;
  }
}
%button{
  font-family: cursive;
  font-size: 20px;
  font-weight: bolder;
  border: 2px dotted red;
  padding: 10px;
  margin: 10px;
}
.ToC{
  @extend %button
}
#ToC1{
  font-family: Arial;
  color: Red;
}
#ToC2{
  font-family: TimesNewRoman;
  color: yellow;
}
#ToC3{
  font-family: fantasy;
  color: green;
}
#ToC4{
  font-family: monospace;
  color: indigo;
}
